{% extends "base.html" %}
{% block title %}Application Form{% endblock %}

{% block body %}
        <div class="header-bar">Ubermelon</div>
        <h3>Thanks for your interest in joining Ubermelon!</h3>
        <div class="instructions">
            <p>
                Please fill out the fields below, and a recruiter will contact you shortly.
            </p>
        </div>
        <br>
            <form action='/application-response' method="post">
            <label>First Name: <input type="text" name="first-name" placeholder="Robin" class="input-field"></label>
            <label>Last Name: <input type="text" name="last-name" placeholder="Smith" class="input-field last-name"></label>
            <br>
            <br>
            <label>Salary Requirement: $<input type="number" name="salary" min="0" step="5000" placeholder="65000" class="input-field"></label>
            <br>
            <br>
            What job are you interested in?
            <select name="position">
                <label><option value="product manager">Product Manager</option></label>
                <label><option value="software engineer">Software Engineer</option></label>
                <label><option value="test engineer">Test Engineer</option></label>
            </select>
            <br>
            <br>
            <label><input type="submit" class="submit-button" value="Submit"></label>
        </form>
{% endblock %}